<div class="{{ block.css_class }} {{ block.css_class }}--{{ fields.text_alignment }} is-fullwidth" 
     {% if fields.background_image %}style="background-image: url('{{ Image(fields.background_image).src }}')"{% endif %}>
    
    {% if block.styles %}
        <style>{{ block.styles|raw }}</style>
    {% endif %}
    
    <div class="{{ block.css_class }}__container">
        <div class="{{ block.css_class }}__content">
            {% if fields.title %}
                <h1 class="{{ block.css_class }}__title">{{ fields.title }}</h1>
            {% endif %}
            
            {% if fields.subtitle %}
                <p class="{{ block.css_class }}__subtitle">{{ fields.subtitle }}</p>
            {% endif %}
            
            {% if fields.button_text and fields.button_url %}
                {{ include('@blocks/hero-section/components/button.twig', {
                    text: fields.button_text,
                    url: fields.button_url,
                    block_name: block.name
                }) }}
            {% endif %}
        </div>
    </div>
    
    {% if block.scripts %}
        <script>{{ block.scripts|raw }}</script>
    {% endif %}
</div>