<div class="carbon-block--{{ block_name }}__card">
    <div class="carbon-block--{{ block_name }}__card-image">
        {% if villa.featured_image %}
            <img src="{{ Image(villa.featured_image).src('large') }}" 
                 alt="{{ villa.title }}"
                 class="carbon-block--{{ block_name }}__image">
        {% else %}
            <div class="carbon-block--{{ block_name }}__image-placeholder">
                <span>No Image</span>
            </div>
        {% endif %}
        
        {# Single amenity tag in top right #}
        {% if villa.amenities and villa.amenities|length > 0 %}
            <div class="carbon-block--{{ block_name }}__amenity-tag">
                {{ include('@blocks/Listings/villa-grid/components/tag-style1.twig', {
                    text: (villa.amenities[0].icon ? villa.amenities[0].icon ~ ' ' : '') ~ villa.amenities[0].name,
                    block_name: block_name
                }) }}
            </div>
        {% endif %}
    </div>
    
    <div class="carbon-block--{{ block_name }}__card-content">
        <h3 class="carbon-block--{{ block_name }}__card-title">
            <a href="{{ villa.link }}" class="carbon-block--{{ block_name }}__card-link">
                {{ villa.title }}
            </a>
        </h3>
        
        {% if villa.excerpt %}
            <p class="carbon-block--{{ block_name }}__card-excerpt">
                {{ villa.excerpt }}
            </p>
        {% endif %}
        
        {# Property details with icons using tag-style2 #}
        <div class="carbon-block--{{ block_name }}__card-specs">
            {% if villa.bedrooms %}
                {{ include('@blocks/Listings/villa-grid/components/tag-style2.twig', {
                    icon: 'fas fa-bed',
                    text: villa.bedrooms ~ ' bed' ~ (villa.bedrooms != 1 ? 's' : ''),
                    block_name: block_name
                }) }}
            {% endif %}
            {% if villa.bathrooms %}
                {{ include('@blocks/Listings/villa-grid/components/tag-style2.twig', {
                    icon: 'fas fa-bath',
                    text: villa.bathrooms ~ ' bath' ~ (villa.bathrooms != 1 ? 's' : ''),
                    block_name: block_name
                }) }}
            {% endif %}
            {% if villa.max_guests %}
                {{ include('@blocks/Listings/villa-grid/components/tag-style2.twig', {
                    icon: 'fas fa-users',
                    text: villa.max_guests ~ ' guest' ~ (villa.max_guests != 1 ? 's' : ''),
                    block_name: block_name
                }) }}
            {% endif %}
        </div>
        
        <div class="carbon-block--{{ block_name }}__card-actions">
            {{ include('@blocks/Heroes/hero-section/components/button.twig', {
                text: 'View Details',
                url: villa.link,
                block_name: block_name
            }) }}
        </div>
    </div>
</div>
