<div class="carbon-block--{{ block_name }}__card">
    <div class="carbon-block--{{ block_name }}__card-image">
        {% if villa.featured_image %}
            <img src="{{ Image(villa.featured_image).src('large') }}" 
                 alt="{{ villa.title }}"
                 class="carbon-block--{{ block_name }}__image">
        {% else %}
            <div class="carbon-block--{{ block_name }}__image-placeholder">
                <span>No Image</span>
            </div>
        {% endif %}
        
        {% if villa.nightly_rate %}
            <div class="carbon-block--{{ block_name }}__price-badge">
                ${{ villa.nightly_rate }}/night
            </div>
        {% endif %}
    </div>
    
    <div class="carbon-block--{{ block_name }}__card-content">
        <h3 class="carbon-block--{{ block_name }}__card-title">
            <a href="{{ villa.link }}" class="carbon-block--{{ block_name }}__card-link">
                {{ villa.title }}
            </a>
        </h3>
        
        {% if villa.excerpt %}
            <p class="carbon-block--{{ block_name }}__card-excerpt">
                {{ villa.excerpt }}
            </p>
        {% endif %}
        
        <div class="carbon-block--{{ block_name }}__card-meta">
            {% if villa.bedrooms or villa.bathrooms %}
                <div class="carbon-block--{{ block_name }}__card-specs">
                    {% if villa.bedrooms %}
                        <span class="carbon-block--{{ block_name }}__spec">
                            <i class="icon-bed"></i>{{ villa.bedrooms }} bed{{ villa.bedrooms != 1 ? 's' : '' }}
                        </span>
                    {% endif %}
                    {% if villa.bathrooms %}
                        <span class="carbon-block--{{ block_name }}__spec">
                            <i class="icon-bath"></i>{{ villa.bathrooms }} bath{{ villa.bathrooms != 1 ? 's' : '' }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
            
            {% if villa.amenities %}
                <div class="carbon-block--{{ block_name }}__card-amenities">
                    {% for amenity in villa.amenities|slice(0, 3) %}
                        <span class="carbon-block--{{ block_name }}__amenity">{{ amenity.name }}</span>
                    {% endfor %}
                    {% if villa.amenities|length > 3 %}
                        <span class="carbon-block--{{ block_name }}__amenity-more">+{{ villa.amenities|length - 3 }} more</span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        
        <div class="carbon-block--{{ block_name }}__card-actions">
            {{ include('@blocks/villa-grid/components/button.twig', {
                text: 'View Details',
                url: villa.link,
                block_name: block_name
            }) }}
        </div>
    </div>
</div>
