{# Set basic variables #}
{% set text_alignment = fields.text_alignment ? fields.text_alignment : 'center' %}
{% set width_type = fields.width_type ? fields.width_type : 'full' %}
{% set height = fields.height ? fields.height : 350 %}

{# Set up simplified typography variables #}
{% set title_styles = [] %}
{% set subtitle_styles = [] %}

{# Title typography styles #}
{% if fields.title_color %}
    {% set title_styles = title_styles|merge(['color: var(--color-' ~ fields.title_color ~ ')']) %}
{% endif %}
{% if fields.title_font_size %}
    {% set title_styles = title_styles|merge(['font-size: ' ~ fields.title_font_size ~ 'rem']) %}
{% endif %}
{% if fields.title_font_weight %}
    {% set title_styles = title_styles|merge(['font-weight: ' ~ fields.title_font_weight]) %}
{% endif %}

{# Subtitle typography styles #}
{% if fields.subtitle_color %}
    {% set subtitle_styles = subtitle_styles|merge(['color: var(--color-' ~ fields.subtitle_color ~ ')']) %}
{% endif %}
{% if fields.subtitle_font_size %}
    {% set subtitle_styles = subtitle_styles|merge(['font-size: ' ~ fields.subtitle_font_size ~ 'rem']) %}
{% endif %}
{% if fields.subtitle_font_weight %}
    {% set subtitle_styles = subtitle_styles|merge(['font-weight: ' ~ fields.subtitle_font_weight]) %}
{% endif %}

<div class="{{ block.css_class }} {{ block.css_class }}--{{ text_alignment }} {{ block.css_class }}--{{ width_type }}-width" 
     style="
         {% if fields.background_image %}background-image: url('{{ Image(fields.background_image).src }}');{% endif %}
         height: {{ height }}px;
     ">
    
    {% if fields.overlay_color %}
        <div class="{{ block.css_class }}__overlay" 
             style="background-color: var(--color-{{ fields.overlay_color }}); opacity: {{ fields.overlay_opacity / 100 }};"></div>
    {% endif %}
    
    <div class="{{ block.css_class }}__container">
        <div class="{{ block.css_class }}__content">
            {% if fields.title %}
                <h1 class="{{ block.css_class }}__title" style="{{ title_styles|join('; ') }}">
                    {{ fields.title }}
                </h1>
            {% endif %}
            
            {% if fields.subtitle %}
                <p class="{{ block.css_class }}__subtitle" style="{{ subtitle_styles|join('; ') }}">
                    {{ fields.subtitle }}
                </p>
            {% endif %}
        </div>
    </div>
</div>